@using BusinessObject
@model Member

@{
    ViewBag.Title = "Edit " + Model.CompanyName;
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Edit" method="post">
    <input hidden asp-for="MemberId"/>
    <div class="border">
        <div class="mb-3">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" value="@Model.CompanyName"/>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" value="@Model.Email"/>
        </div>
        <div class="mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" value="@Model.City"/>
        </div>
        <div class="mb-3">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" value="@Model.CompanyName"/>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" value="@Model.Password"/>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index">Back to List</a>
    </div>
</form>