@using BusinessObject
@model Order
@{
    ViewBag.Title = Model.OrderId;
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="border">
     <div class="mb-3">
            <label asp-for="MemberId"></label>
            <input disabled asp-for="MemberId" class="form-control" value="@Model.MemberId"/>
        </div>
    <div class="mb-3">
        <label asp-for="Freight"></label>
        <input disabled asp-for="Freight" class="form-control" value="@Model.Freight"/>
    </div>
    <div class="mb-3">
        <label asp-for="OrderDate"></label>
        <input disabled asp-for="OrderDate" class="form-control" value="@Model.OrderDate"/>
    </div>
    <div class="mb-3">
        <label asp-for="RequiredDate"></label>
        <input disabled asp-for="RequiredDate" class="form-control" value="@Model.RequiredDate"/>
    </div>
    <div class="mb-3">
        <label asp-for="ShippedDate"></label>
        <input disabled asp-for="ShippedDate" class="form-control" value="@Model.ShippedDate"/>
    </div>
    <a asp-controller="OrderDetail" asp-action="Index" asp-route-id="@Model.OrderId">OrderDetails</a>

    <a asp-action="Index">Back to List</a>
</div>